{% extends 'landing/includes/base.html' %}

{% block content %}
<div class="row">
    {% for info in combined_info %}
    <div class="col-sm-3 pb-2">
        <div class="card">
            <img src={{ info.0 }} class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ info.1 }}</h5>
                <p class="card-text">{{forloop.counter}}</p>
                <a href="#" class="stretched-link"></a>
            </div>
        </div>
    </div>
    {%endfor%}
</div>
{% endblock content %}